Django==3.2.5
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.2
djoser==2.1.0
requests==2.26.0
django-cors-headers==3.7.0
django-storages==1.11.1
boto3==1.18.16
psycopg2-binary==2.8.6
Pillow==8.3.1
