{% extends 'art/base.html' %}
{% load static %}

{% block header %}
<title>My Artworks - Artyste</title>
{% endblock %}

{% block body %}

<div class="container">
    <h1 class="h4 mt-3">Create new artwork</h1>
    <hr/>


    <form class="mt-3" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row justify-content-md-center">

            <div class="col-sm-4">
                <div class="">
                    <label for="input-file-now" class="form-label fw-bold">Image or Video</label>

                    {{ form.fileimage }}
                    <label class="form-label mt-3">File types supported: JPG, PNG, GIF, SVG, MP4. Max size: 40
                        MB</label>
                </div>
            </div>

            <div class="col-sm-8">


                <label for="input-file-now" class="form-label fw-bold">Title</label>
                <div class="form-floating  mb-3">
                    {{ form.title }}
                    <label for="floatingInputInvalid">Artwork Title</label>
                </div>

                <div class="mt-4">
                    <label class="form-label fw-bold">Description</label>
                    <p class="form-label">The description will be included on the item's detail page underneath its
                        image.</p>
                    <div class="form-floating  mb-3">
                        {{ form.description }}
                        <label for="floatingInputInvalid">Provide a detailed discription of your artwork.</label>
                    </div>
                </div>


                <div class="row row-cols-3 mt-3">
                    <div class="col">
                        <label class="form-label fw-bold">Price</label>
                        <div class="input-group mb-4">
                            <span class="input-group-text">$</span>
                            {{ form.price }}
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label fw-bold">Royalties</label>
                        <div class="input-group mb-4">
                            <span class="input-group-text">%</span>
                            {{ form.royalty }}
                        </div>
                    </div>

                <div class="col">
                    <label class="form-label fw-bold">Fiat</label>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Fiat</label>
                        {{ form.fiat }}
                    </div>
                </div>

            </div>

        </div>

            {{ form.errors }}
{{ form.non_field_errors }}


        <div class="d-flex justify-content-end">
            <input type="submit" class="btn bt-lg btn-success" value="Create"/>
        </div>




    </form>

</div>

{% endblock %}