{% extends 'art/base.html' %}
{% load static %}

{% block header %}
<title>My Arts - Arthology</title>
{% endblock %}



{% block body %}


<div class="container">
<div>
    <h1 class="h4 mt-3">My Arts</h1>

    <div class="input-group mt-3 col-3">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1">Search</button>
            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                   aria-describedby="button-addon1">
        </div>

    </div>

    <hr/>


    <div class="row row-cols-1 row-cols-lg-5 g-4 ">

    {% if perms.art.add_product %}
        <div class="col">
            <div class="card bg-light h-100">
                <div class="square" style="background-image: url('{% static 'images/card-plus.jpg' %}')"></div>
                <div class="card-body">
                    <a href="{% url 'artworks-new' %}" class="btn btn-primary">Create new Artwork</a>
                </div>
            </div>
        </div>
    {% endif %}


        <div class="col">
            <div class="card bg-light h-100">
                <div class="square" style="background-image: url('{% static 'images/card-plus.jpg' %}')"></div>
                <div class="card-body">
                    <a href="{% url 'artworks-new' %}" class="btn btn-primary">Import Art</a>
                </div>
            </div>
        </div>


        {% if artworks %}
            {% for artwork in artworks %}
                <div class="col">
                <a href="{% url 'artworks-detail' pk=artwork.id %}">
                    <div class="card h-100">
{#                        <img src="{% if artwork.fileimage %}{{ artwork.fileimage.url }}{% else %}{% static 'images/card-no-image.jpg' %}{% endif %}" class="card-img-top" alt="..."></a>#}

                        <div class="square" style="background-image: url('{% if artwork.fileimage %}{{ artwork.fileimage.url }}{% else %}{% static 'images/card-no-image.jpg' %}{% endif %}')"></div>
                        <div class="card-body">
                            <h5 class="card-title">{{ artwork.title }}</h5>

{#                            <a href="{% url 'artworks-new' %}" class="btn btn-outline-primary">Edit</a>#}
{##}
{#                            {% if artwork.publish %}#}
{#                                <a href="{% url 'artworks-new' %}" class="btn btn-outline-secondary">Unpublish</a>#}
{#                            {% else %}#}
{#                                <a href="{% url 'artworks-new' %}" class="btn btn-outline-primary">Publish</a>#}
{#                            {% endif %}#}

                        </div>
                    </div>
                </a>
                </div>
            {% endfor %}
        {% endif %}



    </div>
    </div>

{% endblock %}