{% extends 'art/base.html' %}
{% load static %}
{% block body %}


    <h1 class="h4 mt-3">My Artworks</h1>
    <hr/>


    <div class="row row-cols-1 row-cols-lg-4 g-4">

    <div class="col">
            <div class="card bg-light">
                <img src="{% static 'images/card-plus.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Create new Artwork</h5>

                    <a href="{% url 'artworks-new' %}" class="btn btn-primary">Create new Artwork</a>

            </div>
            </div>
        </div>

        {% if artworks %}
            {% for artwork in artworks %}
                <div class="col">
                    <div class="card">
                        <a href="{% url 'artworks-detail' pk=artwork.id %}"><img src="{% if artwork.fileimage %}{{ artwork.fileimage.url }}{% else %}{% static 'images/card-no-image.jpg' %}{% endif %}" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title">{{ artwork.title }}</h5>

                            <a href="{% url 'artworks-new' %}" class="btn btn-outline-primary">Edit</a>

                            {% if artwork.publish %}
                                <a href="{% url 'artworks-new' %}" class="btn btn-outline-secondary">Unpublish</a>
                            {% else %}
                                <a href="{% url 'artworks-new' %}" class="btn btn-outline-primary">Publish</a>
                            {% endif %}



                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}



    </div>

{% endblock %}