{% load static %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
{#<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/f2b0b62507.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">


<script src="https://nosir.github.io/cleave.js/dist/cleave.min.js" crossorigin="anonymous"></script>


{% if page == 'checkout' %}
    <script src="https://cdn.jsdelivr.net/npm/maska@latest/dist/maska.js"></script>
{% endif %}



    <link rel="icon" href="{% static '/favicon/favicon.ico' %}">

    {% block header %}
    {% endblock %}

<style>
    [v-cloak] .v-cloak--block {
        display: block;
    }

    [v-cloak] .v-cloak--inline {
        display: inline;
    }

    [v-cloak] .v-cloak--inlineBlock {
        display: inline-block;
    }

    [v-cloak] .v-cloak--hidden {
        display: none;
    }

    [v-cloak] .v-cloak--invisible {
        visibility: hidden;
    }

    .v-cloak--block,
    .v-cloak--inline,
    .v-cloak--inlineBlock {
        display: none;
    }
</style>

</head>
<body>

<div id="app">

{% if user.is_authenticated %}
    {% if perms.art %}
        {% if perms.art.add_product %}
            <div class="alert alert-success p-1  mb-0" role="alert">
                Logged as Artist
            </div>
        {% endif %}
        {% if perms.art.add_gallery %}
            <div class="alert alert-secondary p-1 mb-0" role="alert">
                Logged as Curator
            </div>
        {% endif %}
    {% else %}
        <div class="alert alert-warning  p-1 mb-0" role="alert">
            Logged as User / Customer
        </div>
    {% endif %}
{% endif %}



  <header class="p-3 bg-light ">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
            <img class="navbar-brand" src="{% static 'images/arthology_logo.svg' %}" alt="" width="150"/>
        </a>


                        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'galleries' %}">Galleries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Artists</a>
                </li>
            </ul>

          {% if user.is_authenticated %}
              <div class="text-end d-flex">

                  <div class="btn-group me-2">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                              aria-expanded="false">
                          <i class="fa fa-user"></i>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end pt-2">
                          <li><a class="dropdown-item" href="{% url 'artworks' %}"><i class="fa fa-palette me-2"></i>My Arts</a></li>
                          <li><a class="dropdown-item" href="#"><i class="fa fa-user-edit me-2"></i>My Account</a></li>
                          <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out-alt me-2"></i>Logout</a></li>
                      </ul>
                  </div>

                  <div class="btn-group me-2">
                      <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown"
                              aria-expanded="false">
                          <img src="{% static 'images/circle.svg' %}" height="25px"/>
                          {% if circle %}US$ {{ circle }}{% endif %}
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end pt-2">
                          <li><a class="dropdown-item" href="#"><i class="fa fa-wallet me-2"></i> My Wallet</a></li>
                          <li><a class="dropdown-item" href="#"><i class="fa fa-money-check-alt me-2"></i>Add Funds</a></li>
                      </ul>
                  </div>

                    <div v-cloak>
                  <span class="v-cloak--inline">
                      <button class="btn btn-secondary" type="button" disabled>
  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  <span class="visually-hidden">Loading...</span>
</button>
                </span>

                  <span v-show="!connected" >
                      <a v-on:click="metaConnect" class="btn btn-outline-secondary v-cloak--hidden">
                          <img class="me-2" src="{% static 'images/metamask.svg' %}" height="25px"/>
                           Connect
                      </a>
                </span>

                  <span v-show="connected" >
                     <a v-on:click="metaConnect" class="btn btn-outline-secondary v-cloak--hidden">
                          <img class="me-2" src="{% static 'images/metamask.svg' %}" height="25px"/>
                           [[ account ]]
                      </a>
                     </span>
                    </div>


              </div>
          {% else %}
              <a class="btn btn-secondary" role="button" href="{% url 'register' %}">Create Account</a>
              <a class="btn btn-outline-secondary ms-2" role="button" href="{% url 'login' %}">Login</a>
          {% endif %}

      </div>
    </div>
  </header>




    {% block body %}
    {% endblock %}

    {% block footer %}
    {% endblock %}


</div>


<script src="{% static '/js/ethers-5.2.min.js' %}" type="application/javascript"></script>

        <script>


            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            const csrftoken = getCookie('csrftoken');

        ethereum.on('chainChanged', (chainId) => {
            console.log(chainId);
            app.contchainChange(chainId);
            window.location.reload();
        });

        ethereum.on('accountsChanged', (accounts) => {
            console.log(accounts);
            app.metaConnect();
        });

        ethereum.on('connect', (connectInfo) => {
            console.log(connectInfo);
        });

        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                accounts: [],
                account: '',
                connected: false,
                chainID: '',
                balance: null,
                auth: {% if user.is_authenticated %} true {% else %} false {% endif %},
                ethusd: 0,

                {% if page == 'productdetail' %}
                    mintingstatus: {{ product.mintingstatus }},
                    mintingtx: {% if product.mintingtx %}{{ product.mintingtx }}{% else %}null{% endif %},
                    mintinghash: '{% if product.mintinghash %}{{ product.mintinghash }}{% endif %}',
                    mintingid: {% if product.mintingid %}{{ product.mintingid }}{% else %}null{% endif %},
                    mintingexplorer: 'https://ropsten.etherscan.io/token/{% if product.mintinghash %}{{ product.mintinghash }}{% endif %}?a={% if product.mintingid %}{{ product.mintingid }}{% endif %}',
                {% endif %}

                {% if page == 'checkout' %}
                    creditCardNumber: null,
                    creditCardNumberRaw: null,
                    creditCardNumberFlag: 0,
                    creditCardNumberErro: false,
                    creditCardNumberValid: false,

                    creditCardName: null,
                    creditCardNameValid: false,

                    creditCardDate: null,
                    creditCardDateRaw: null,
                    creditCardNameDate: false,

                    creditCardCvv: null,
                    creditCardCvvValid: false,
                {% endif %}


            },
            created: function () {

                {% if user.is_authenticated %}
                    {% if user.wallet_hash %}
                    this.metaConnect();
                    {% endif %}
                {% endif %}

            this.getEthUsd();


            {% if product %}
                if (this.mintingstatus === 1) {
                    this.tx_get();
                }
                {% endif %}


            },
                mounted: function () {


                        this.timer = setInterval(() => {
                            {% if page == 'productdetail' %}
                            if (this.mintingstatus === 1) {
                                this.tx_get();

                            }
                            {% endif %}
                            this.getEthUsd();
                        }, 30000)

        },
            methods: {
                metaConnect: async function () {
                    this.accounts = await ethereum.request({method: 'eth_requestAccounts'});
                    await this.connect();
                },
                connect: async function () {
                    this.account = this.accounts[0].slice(0, 4) + '...' + this.accounts[0].slice(-4);
                    console.log(this.accounts);
                    this.connected = true;
                },
                contchainChange: function (chainId) {
                    {#console.log(chainId);#}
                    this.chainID = chainId;
                },

                getEthUsd: async function () {
                    fetch('https://api.coingecko.com/api/v3/simple/price?ids=ethereum&vs_currencies=usd')
                        .then(response => {
                            response.json().then(async data => {
                                this.ethusd = data['ethereum']['usd'];
                            })
                        });
                },
                EthToUsd:  function (eth) {
                    return eth * this.ethusd;
                },
                FormatedEthToUsd:  function (eth) {

                    const formatter = new Intl.NumberFormat('en-US', {
                        style: 'currency',
                        currency: 'USD',

                    });
                    return formatter.format(eth * this.ethusd);

                },
                UsdToEth:  function (usd) {
                    return usd / this.ethusd;
                },
                FormatedUsdToEth:  function (usd) {
                    return (usd / this.ethusd).toFixed(4);
                },

                {% if page == 'productdetail' %}
                    tx_get: async function () {
                        data = '{"jsonrpc":"2.0","method":"eth_getTransactionReceipt","params": ["{{ product.mintingtx }}"],"id":1}';
                        fetch("https://ropsten.infura.io/v3/613d46b23c354abeafc7aa755c21c3a6", {
                            method: 'POST',
                            body: data,
                            headers: {'Content-Type': 'application/json',},
                        })
                            .then(response => {
                                response.json().then(async data => {

                                    this.mintingstatus = 2;
                                    this.mintinghash = data['result']['to'];
                                    this.mintingid = parseInt(data['result']['logs'][0]['topics'][3]);
                                    this.mintingexplorer = 'https://ropsten.etherscan.io/token/' + this.mintinghash + '?a=' + this.mintingid;

                                    console.log(this.mintingid);
                                    console.log(this.mintinghash);

                                    fetch("{% url 'artworks-detail' pk=product.id %}", {
                                        method: 'POST',
                                        body: JSON.stringify({
                                            'hash': data['result']['to'],
                                            'id': parseInt(data['result']['logs'][0]['topics'][3]),
                                        }),
                                        headers: {
                                            'Accept': 'application/json, text/plain, */*',
                                            'Content-Type': 'application/json',
                                            "X-CSRFToken": csrftoken,
                                        },
                                    });

                                })
                            })
                    },
                {% endif %}

            },
            watch: {
                {% if page == 'checkout' %}
                creditCardCvv: function (value) {
                    if (value.toString().length >= 3) {
                        this.creditCardCvvValid = true;
                    } else {
                        this.creditCardCvvValid = false;
                    }
                },
                creditCardName: function (value) {
                    if (value !== '') {
                        this.creditCardNameValid = true;
                    } else {
                        this.creditCardNameValid = false;
                    }
                },
                creditCardNumber: function (value) {
                    this.creditCardNumberRaw = value.replace(/\s/g, "");
                    if (value.toString()[0] === '4') {
                        this.creditCardNumberFlag = 1;
                    } else if (value.toString()[0] === '5') {
                        this.creditCardNumberFlag = 2;
                    } else {
                        this.creditCardNumberFlag = 0;
                    }
                    if (this.creditCardNumberRaw.toString().length === 16) {
                        if (this.creditCardNumberFlag !== 0) {
                            this.creditCardNumberErro = false;
                            this.creditCardNumberValid = true;
                        } else {
                            this.creditCardNumberErro = true;
                        }
                    } else {
                        this.creditCardNumberValid = false;
                    }
                }
            {% endif %}
            }
        });
        </script>

</body>
</html>