{% extends 'art/base.html' %}
{% load static %}

{% block header %}
<title>{{ product.title }} - Arthology</title>
{% endblock %}


{% block body %}

    <div class="container">


        <div class="my-4">
            <h1 class="align-text-bottom">Checkout</h1>
            <hr class="mt-2"/>
        </div>

        <div class="row">

            <div class="col-sm-4">
                <img class="img-fluid rounded" src="{{ product.fileimage.url }}"/>

                <div class="mt-4">
            <h2 class="align-text-bottom">{{ product.title }}</h2>
            <h3 class="h5 align-text-bottom">{{ product.artist.first_name }} {{ product.artist.last_name }}</h3>
            <p class="align-text-bottom">Gallery: {{ product.gallery }}</p>
            <hr class="mt-2"/>
        </div>

            </div>

            <div class="col-sm-8">
                <div class="mt-4 mt-sm-0">
                    <form class="row g-3 ">
                        <h4 class="">Card Information</h4>


                        <div class="col-12">
                            <div class="input-group">
                                <input type="text" class="form-control" id="creditCardNumber" placeholder="Card Number"
                                       v-maska="'#### #### #### ####'" v-model="creditCardNumber"
                                       v-bind:class="[{ 'is-invalid': creditCardNumberErro, 'is-valid': creditCardNumberValid, }]"
                                       required>
                                <span class="input-group-text">
                            <img v-if="creditCardNumberFlag === 2" src="'{% static 'images/card_mc.svg' %}" width="30px"/>
                            <img v-else-if="creditCardNumberFlag === 1" src="{% static 'images/card_visa.svg' %}" width="30px"/>
                            <div v-else style="width: 30px"><i class="far fa-credit-card"></i></div>
                        </span>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="input-group">
                                <input type="text" class="form-control" id="creditCardName"
                                       placeholder="Cardholder Name" v-model="creditCardName"
                                       v-bind:class="[{ 'is-valid': creditCardNameValid, }]" required>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="input-group">
                                <input type="text" class="form-control" id="creditCardDate" placeholder="MM/YY"
                                       v-maska="'##/##'" v-model="creditCardDate"
                                       v-bind:class="[{ 'is-valid': creditCardDateValid, }]" required>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="input-group">
                                <input type="text" class="form-control" id="creditCardCvv" placeholder="CVV"
                                       v-maska="'####'" v-model="creditCardCvv"
                                       v-bind:class="[{ 'is-valid': creditCardCvvValid, }]" required>
                            </div>
                        </div>

                        <h4 class="">Billing Information</h4>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </form>

                </div>
            </div>

        </div>

    </div>

    <script>
    // credit card
    const cleaveCreditCard = new Cleave('.input-credit-card', {
        creditCard: true
    });
    </script>


{% endblock %}