{% extends 'art/base.html' %}
{% load static %}

{% block header %}
<title>{{ product.title }} - Artyste</title>
{% endblock %}


{% block body %}

    <div class="container">


        <div class="my-4">
            <h1 class="align-text-bottom">Checkout</h1>
            <hr class="mt-2"/>
        </div>

        <div class="row">

            <div class="col-sm-4">
                <img class="img-fluid rounded" src="{{ product.fileimage.url }}"/>

                <div class="mt-4">
            <h2 class="align-text-bottom">{{ product.title }}</h2>
            <h3 class="h5 align-text-bottom">{{ product.artist.first_name }} {{ product.artist.last_name }}</h3>
            <p class="align-text-bottom">Gallery: {{ product.gallery }}</p>
            <hr class="mt-2"/>
        </div>

            </div>

            <div class="col-sm-8">

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>

                        <td>{{ product.title }}</td>
                        <td>{{ product.get_type_display }}</td>
                        <td>{% if product.fiat == 0 %}[[ FormatedEthToUsd({{ product.price }}) ]] {% else %}${{ product.price }}{% endif %}</td>
                    </tr>

                    <tr>

                        <td>Transfer</td>
                        <td>Fee</td>
                        <td>$0.00</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>

                        <th scope="col"></th>
                        <th scope="col">Total</th>
                        <th scope="col">$</th>
                    </tr>
                    </tfoot>
                </table>

                <div class="mt-4 mt-sm-0">
                    <form class="row g-3" @submit="checkForm" action="" method="POST">
                        {% csrf_token %}
                        <h4 class="">Card Information</h4>

                        <input type="text" v-model="creditCardTotal" id="creditCardTotal" name="creditCardTotal" value="" hidden>
                        <input type="text" v-model="creditCardEncrypted" id="creditCardEncrypted" name="creditCardEncrypted" hidden>


                        <div class="col-12">
                            <div class="input-group">
                                <input type="text" class="form-control" id="creditCardNumber" name="creditCardNumber" placeholder="Card Number"
                                       v-maska="'#### #### #### ####'" v-model="creditCardNumber" maxlength="19"
                                       v-bind:class="[{ 'is-invalid': creditCardNumberErro, 'is-valid': creditCardNumberValid, }]"
                                       required>
                                <span class="input-group-text">
                            <img v-if="creditCardNumberFlag === 2" src="{% static 'images/card_mc.svg' %}" width="30px"/>
                            <img v-else-if="creditCardNumberFlag === 1" src="{% static 'images/card_visa.svg' %}" width="30px"/>
                            <div v-else style="width: 30px"><i class="far fa-credit-card"></i></div>
                        </span>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="input-group">
                                <input type="text" class="form-control" id="creditCardName" name="creditCardName"
                                       placeholder="Cardholder Name" v-model="creditCardName"
                                       v-bind:class="[{ 'is-valid': creditCardNameValid, }]" required>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="input-group">
                                <input type="text" class="form-control" id="creditCardDate" name="creditCardDate" placeholder="MM/YY"
                                       v-maska="'##/##'" v-model="creditCardDate"
                                       v-bind:class="[{ 'is-valid': creditCardDateValid, }]" required>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="input-group">
                                <input type="text" class="form-control" id="creditCardCvv" placeholder="CVV"
                                       v-maska="'####'" v-model="creditCardCvv"  maxlength="4"
                                       v-bind:class="[{ 'is-valid': creditCardCvvValid, }]" required>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="input-group">
                                <input class="form-check-input me-2" type="checkbox" value="" id="creditCardSave" name="creditCardSave" checked>
                                <label class="form-check-label" for="flexCheckChecked">
                                    Save this card
                                </label>
                            </div>
                        </div>

                        <h4 class="">Billing Information</h4>

                        <div class="col-12">
                            <div class="input-group">
                                <input type="text" class="form-control" id="billingLine1" name="billingLine1"
                                       placeholder="Street address" required>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="input-group">
                                <input type="text" class="form-control" id="billingLine2" name="billingLine2"
                                       placeholder="">
                            </div>
                        </div>


                        <div class="col-6">
                            <div class="input-group">
                                <input type="text" class="form-control" id="billingCountry" name="billingCountry"
                                       placeholder="Country: US" required>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <input type="text" class="form-control" id="billingdistrict" name="billingdistrict"
                                       placeholder="State: FL" required>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="input-group">
                                <input type="text" class="form-control" id="billingCity" name="billingCity"
                                       placeholder="City: Miami" required>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="input-group">
                                <input type="text" class="form-control" id="billingZip" name="billingZip"
                                       placeholder="Postal / ZIP code" required>
                            </div>
                        </div>

                        <div class="col-12">
                            <input type="submit" class="btn btn-primary">
                        </div>

                    </form>

{#                    <button  v-on:click="checkForm" class="btn btn-primary">Teste</button>#}

                </div>
            </div>

        </div>

    </div>


{% endblock %}