{% extends 'art/base.html' %}
{% load static %}

{% block header %}
<title>Arthology</title>
{% endblock %}

{% block body %}
    <div class="container">

        <div class="input-group mt-3">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1">Search</button>
            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                   aria-describedby="button-addon1">
        </div>

        <hr/>

    <h3>Top Artworks</h3>
    <hr/>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mb-4">

    {% for artwork in products|dictsortreversed:'updated_at'|slice:4 %}

        <div class="col">
                    <div class="card h-100">
                     <a class="stretched-link text-dark" href="{% url 'artworks-detail' pk=artwork.id %}">
                        <div class="square" style="background-image: url('{% if artwork.fileimage %}{{ artwork.fileimage.url }}{% else %}{% static 'images/card-no-image.jpg' %}{% endif %}')"></div>
                    </a>
                        <div class="card-body">


                            <div class="row">
                                <div class="col-6">
                                    <div class="fw-bold">{{ artwork.title }}</div>
                                    <small>{{ artwork.artist.last_name }} {{ artwork.artist.first_name }}</small>
                                </div>
                                <div class="col-6 text-end">
                                    <div class="mb-0 ">
                                        <div>Price</div>
                                        <div class="h6">{% if artwork.fiat == 0 %}
                                            <img class="me-2" src="{% static 'images/eth_logo.svg' %}"
                                                 height="20px"/>{% else %}
                                            <img class="me-2" src="{% static 'images/dollar.svg' %}"
                                                 width="20px"/>{% endif %}{{ artwork.price }}</div>
                                    </div>
                                    <div class="text-muted small" v-cloak><span
                                            class="v-cloak--hidden ">{% if artwork.fiat == 0 %} [[ FormatedEthToUsd(
                                        {{ artwork.price }}) ]] {% else %}ETH [[ FormatedUsdToEth({{ artwork.price }})
                                        ]] {% endif %}</span></div>
                                </div>
                            </div>

                    </div>
                    </div>
                </div>

    {% endfor %}

    </div>

    <h3>Top Galleries</h3>
    <hr/>
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4 mb-4">
        {% for gallery in galleries %}
            <a href="{% url 'gallery-detail' slug=gallery.slug %}" class="col">
                <div class="img-thumbnail rounded">
                    <img src="{{ gallery.imglogo.url }}" class="card-img-top">
                </div>
            </a>
        {% endfor %}
    </div>


    </div>
{% endblock %}


{% block footer %}
{% endblock %}