{% extends 'art/base.html' %}
{% load static %}

{% block header %}
<title>Arthology</title>
{% endblock %}

{% block body %}
    <div class="container">

        <div class="input-group mt-3">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1">Search</button>
            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                   aria-describedby="button-addon1">
        </div>

        <hr/>

    <h3>Top Galleries</h3>
    <hr/>
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4">
        {% for gallery in galleries %}
            <a href="{% url 'gallery-detail' slug=gallery.slug %}" class="col">
                <div class="img-thumbnail rounded">
                    <img src="{{ gallery.imglogo.url }}" class="card-img-top">
                </div>
            </a>
        {% endfor %}
    </div>



{% endblock %}
    </div>